


<div  class= "formulaire">
  <p>Veuillez remplir le formulaire suivant :</p>
  <div class="app-prise-rdv">
    <app-prise-rdv *ngIf="center"  [center]="center" [receivedCenterId]="center.id" (onCancel)="cancel()"  ></app-prise-rdv>
  </div>
</div>


<div>

<!--Confirmation Rendez-vous-->
<div class="container_confirmation_rdv">
<div *ngIf="confirmation" class="confirmation">
    <p>Votre rendez-vous a bien été enregistré !</p>
    <p><strong>Date du rendez-vous:</strong> {{ chosenDate| date:'dd/MM/yyyy' }}</p>
    <p><strong>Créneau choisi:</strong> {{ formatCreneau(chosenTime) }}</p>
</div>
<div class="boutons" *ngIf="confirmation">
    <button class= "confirm_rdv" (click)=cancel()>Prendre un autre rendez-vous</button>
</div>

</div>
  