.container{
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    width: 70vw;
    position: absolute;
    left:15%;
    top:40%;
    border-radius: 1rem;
    background-color: var(--electric-violet);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    justify-content: center;
    overflow-y: auto;
    align-items: center;
    text-align: center;
}


.superadmins-header-row{
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 10px 10px 0 0;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.superadmins-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.superadmins-button-add {
    background-color: #4bd449;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.superadmins-button-add:hover {
    background-color: #4e9445;
}


.superadmins-table {
    width: 100%;
    border-collapse: collapse;
}

.superadmins-header {
    background: #007bff;
    color: white;
    padding: 12px;
    text-align: center;
    border: 1px solid white;
}

.superadmins-data, .superadmins-action {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    border: 1px solid white;
}

.superadmins-data {
    color: white;
}



.superadmins-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.superadmins-button:hover {
    background-color: #b33d49;
}


