
.liste_centres{
    position: absolute;
    left:28vw;
    top: 20vh;
    background-color: white;
    width: 30vw;
    height: 50vh;
    max-width: 40vw;
    max-height: fit-content;
    padding: 1rem;
    border-top: solid 2px var(--electric-violet);
    border-bottom: solid 2px var(--electric-violet);
    border-left: dashed 3px var(--electric-violet);
    border-right: dashed 3px var(--electric-violet);
    border-radius: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .centers {
    list-style-type: none; /* Enlever les points de début de liste */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    margin: 0; 
  }
  
  .searched_centers li {
    margin: 0 0; /* Espacement entre les éléments de la liste */
    
  }
  
  .centers li button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border: 2px solid var(--electric-violet);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    color: var(--electric-violet);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
  }
  
  
  .centers li button:hover {
    color: var(--electric-violet);
    transform: scale(1.15);
  }
  
  .centers li button:active {
    transform: scale(1.1);
  }
    

.annuler_recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border: 2px solid var(--electric-violet);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    color: var(--electric-violet);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    }
    
.annuler_recherche:hover {
    background-color: white;
    border-color: red;
    color: red;
    transform: scale(1.2);
    }
    
.annuler_recherche:active {
    transform: scale(1.1);
    }

