
<div class="recherche" *ngIf="!isCenterSelected">
    <input type="text" placeholder="Rechercher une ville..." [(ngModel)]="searchText" (keyup.enter)="onSearchEnter()" maxlength="15"/>
  </div>
  
  <div *ngIf="filteredCenters.length > 0 " class="resultats_recherche">
    <ul class="searched_centers">
      <li *ngFor="let center of filteredCenters" >
        <button (click)="selectCenter(center)">
          <p>{{center.nom}} - {{ center.ville }}</p>
        </button>
        
      </li>
    </ul>
  </div>
  
  
  <!--<app-prise-rdv *ngIf="center" [creneaux]="center.creneaux" [center]="center" (onCancel)="cancelSelection()" ></app-prise-rdv>-->
  
  <app-prise-rdv-verif-mail *ngIf="center" [creneaux]="center.creneaux" [center]="center" (onCancel)="cancelSelection()" ></app-prise-rdv-verif-mail> 