.container {
    display: flex;
    flex-direction: column; /* Assure un empilement vertical */
    align-items: center; /* Centre horizontalement */
    justify-content: flex-start; /* Aligne les éléments en haut */
    max-height: 50vh;
    width: 70vw;
    position: absolute;
    left: 15%;
    top: 40%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
    overflow-y: auto;
    text-align: center;
}

.mycenter-header-row{
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 10px 10px 0 0;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
}
.mycenter-title {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.mycenter-button-add {
    background-color: #4bd449;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.mycenter-button-add:hover {
    background-color: #4e9445;
}


    
.mycenter-info {
    width: 100%;
    max-width: 90%;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: center;
    font-size: 1rem; 
    align-self: center;
    margin-top: 1rem;
}

.mycenter-table {
    width: 100%;
    border-collapse: collapse;
}

.mycenter-header {
    background: #007bff;
    color: white;
    padding: 12px;
    text-align: center;
    border: 1px solid white;
}

.mycenter-data, .mycenter-action {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
}

.mycenter-data {
    color: black;
}

.mycenter-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.mycenter-button:hover {
    background-color: #b33d49;
}


.confirmation-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.confirmation-message p{
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .confirmation-message   button {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
  }

  /* add-employee.component.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .edit-container {
    width: 300px;
    background: #ffffff;
    padding-left: 15px;
    padding-right: 30px;

    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 1001;
  }
  
  h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    align-self: flex-start;
    color: #555;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #007bff;
  }
  
  button {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  .cancel_button {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  .cancel_button:hover {
    background-color: #b96069;
    color: white;
  }

  .create_button {
    background-color: #2a5fda;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  .create_button:hover {
    background-color: #0056b3;
    color: white;
  }

  .autocomplete-list {
    list-style: none;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 20%;
    z-index: 10;
  }
  
  .autocomplete-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-list li:hover {
    background: #f0f0f0;
  }
  