

<div class="admin-container">
  
    <div class="header">
    <h1>DASHBOARD</h1>
  
    <nav class="menu">
      <ul>
        <li><a  *ngIf="displayCentres"  (click)="navigateTo('centres')">Centres</a></li>
        <li><a *ngIf="displayMyCenter" (click)="navigateTo('mycenter')">Mon Centre</a></li>
        <li><a *ngIf="displayPlanning" (click)="navigateTo('planning')">Planning</a></li>
        <li><a *ngIf="displayConfig" (click)="navigateTo('superadmins')">Config</a></li>
      </ul>
    </nav>
  </div>
  <div class="button1_container">
    <button   (click)="Cancel(); "> Sign Out </button>
  </div>
  </div>
  <router-outlet></router-outlet>

  
  