<div class="container">
    <div class="mycenter-info" *ngIf="centre">
        <p><strong>Nom :</strong> {{ centre.nom }}</p>
        <p><strong>Ville :</strong> {{ centre.ville }}</p>
    </div>

    <div class="date-navigation">
        <button (click)="previousDay()">◀ Précédent</button>
            <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange()">
        <button (click)="nextDay()">Suivant ▶</button>
    </div>

    <div *ngIf="reservations.length > 0; else noResa">
        <h3>Réservations pour le {{ selectedDate | date:'fullDate' }} :</h3>
        <ul>
            <li *ngFor="let resa of reservations">
                <p>{{ resa.nomPatient }} {{ resa.prenomPatient }} - 
                    <button 
                        [ngClass]="resa.statutReservation ? 'valid' : 'non-valid'"
                        (click)="toggleStatut(resa)">
                        {{ resa.statutReservation ? 'Validé' : 'Non Validé' }}
                    </button> 
                    - {{ resa.heureReservation }} - {{ resa.numeroPatient }} 
                </p>
            </li>
        </ul>
    </div>

    <ng-template #noResa>
        <p>Aucune réservation pour cette date.</p>
    </ng-template>

    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>

   
</div>