<button class="add-button" (click)="openNewCenterForm()" *ngIf="!selectedCenter && !showNewCenterForm">+ Nouveau</button>

<div class="container" *ngIf="!showNewCenterForm && !selectedCenter">
      
    <table *ngIf="!selectedCenter">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let center of centers">
            <td>{{ center.nom }}</td>
            <td>{{ center.ville }}</td>
            <td>
              <button (click)="editCenter(center)">Modifier</button>

            </td>
          </tr>
        </tbody>
      </table>
  
</div>

<div class="overlay-container" *ngIf="selectedCenter">
  <app-edit-center 
        [center]="selectedCenter" 
        (centerUpdated)="refreshCenters()">
  </app-edit-center>
</div>

<div class="overlay-container" *ngIf="showNewCenterForm">
  <app-add-center 
        (centerAdded)="refreshCenters()">
  </app-add-center>
</div>


