.container{
    
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 70vw;
    position: absolute;
    left:15%;
    top:40%;
    border-radius: 1rem;
    border : 3px solid aqua;
    background-color: var(--electric-violet);
    color: white;
    justify-content: center;
    overflow-y: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  

.add-button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 2rem;
    height: 4rem;
    width: 10rem;
    z-index: 1000;
    background-color: #28a745;
}
button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    
}
  
  table button:first-child {
    background-color: #28a745;
    color: white;
  }
  
  button:last-child {
    background-color: #dc3545;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .add-button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }

  