<div class="container">
    <button class="add-button" (click)="openNewCenterForm()" *ngIf="!selectedCenter">+ Nouveau</button>
    
    <table *ngIf="!selectedCenter">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let center of centers">
            <td>{{ center.nom }}</td>
            <td>{{ center.ville }}</td>
            <td>
              <button (click)="editCenter(center)">Modifier</button>

            </td>
          </tr>
        </tbody>
      </table>

      <app-edit-center 
        *ngIf="selectedCenter" 
        [center]="selectedCenter" 
        (centerUpdated)="refreshCenters()">
      </app-edit-center>
</div>


