
<div class="button_container">
    <button *ngIf="!login && !isLoggedIn"  (click)="displayLogin(); login_show()"> Vous êtes soignant ? </button>
</div>



<div class="login_container" *ngIf="login ">

    <div class = "login">
        <h2>Login</h2>
        <p>Username</p>
        <input type="text" name="User" placeholder="Username"  [(ngModel)]="username" (keyup.enter)="signIn() ">
    
        <p>Password</p>
        <input type="password" name="Password" placeholder="Mot de passe ..." [(ngModel)]="password" (keyup.enter)="signIn()">
        <div class="boutons_signin">
            <button (click)="Cancel()"> Annuler</button>
            <button (click)="signIn()"> Sign in</button>
        </div>
         <!-- Afficher un message d'erreur si errorMessage est défini -->
        <div *ngIf="errorMessage" class="error-message">
            <p>{{ errorMessage }}</p>
        </div>
    </div>
    
</div>
